body h1 {
    text-align: center;
}

#summary {
    text-align: center;
}

/* 全体の入力欄と追加ボタン */
input,
button {
    font-size: 18px;
    /* 文字大きめ */
    padding: 12px;
    /* タップしやすい高さ */
    margin: 5px 0;
    /* 上下に余白 */
    width: 100%;
    /* 画面いっぱい */
    box-sizing: border-box;
    /* padding込みで幅100% */
    border-radius: 8px;
    /* 角丸 */
}

/* 完了ボタン */
button.done {
    background-color: #4CAF50;
    color: white;
    margin-left: 5px;
    min-width: 60px;
    /* 小さすぎないように */
    height: 40px;
}

/* 削除ボタン */
button.delete {
    background-color: #f44336;
    color: white;
    margin-left: 5px;
    min-width: 60px;
    height: 40px;
}

/* li内の横並び */
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}